<!DOCTYPE html>
<html>

<head>
    <title> ThemeHub</title>
    <link rel="stylesheet" href="/stylesheet.css">
    </link>
</head>

<body>
    {{> views/header }}
    <div id="themelist">
        {{#each themes}}
            {{ >views/theme theme=this }}
        {{/each}}
    </div>
</body>

</html>
